#utilities
numpy 
pandas
scikit-learn   #face reconization
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0
supabase
bcrypt
segno #qrcode
pillow #image preprocessing
streamlit #frontend library
librosa
resemblyzer